$color-main: rgba(128, 238, 253, 0.8);

/* Global */

*,*::after,*::before{
    box-sizing: border-box;
}

html body{
    background-color: $color-main;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    background-color: white;

    font-size: 100px;
    color: $color-main;

    
    cursor: pointer;

    transition: all 1s ease;

    &:nth-child(1){
        color: red;
    }
    &:nth-child(2){
        color: green;
    }
    &:nth-child(3){
        color: blue;
    }
    
    &:hover{
        transform: scale(1.2);
        box-shadow:0px 0px 5px 5px rgba(128, 238, 253, 1) inset;
    }
}

/* Game */
.game-structure{

    .score{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: 60px;
        font-size: 50px;
        color: white;
        text-shadow: 0.5px 1px 1px black;
    }

    .container{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        position: absolute;
        left: 50%;
        top: 50%;
        right: auto;
        bottom: auto;
        
        transform: translate(-50%, -50%);
        
        
        .buttons{
            margin-top: 60px;
            display: flex;
            gap: 3rem;
        }
        
        #messages{
            margin-top: 50px;
            margin-bottom: 0;
            padding: 0;
            div{
                text-align: center;
                color: white;
                font-size: 30px;
                text-shadow: 0.5px 1px 1px black;
            }
        }
    }   
}